.text-box-slide-up {
    animation: slide-up 1.5s;
    line-height: 3em;
}

.fade-away {
    animation: fade-away 1.5s;
    line-height: 3em;
    opacity: 0;
}

.text-box-slide-down {
    animation: slide-down 1.5s;
    line-height: 5em;
}

@keyframes fade-away {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes slide-up {
    from {
        opacity: 0;
        line-height: 5em;
    }

    to {
        opacity: 1;
        line-height: 3em;
    }
}

@keyframes slide-down {
    from {
        opacity: 1;
        line-height: 3em;
    }

    to {
        opacity: 0;
        line-height: 8em;
    }
}

.loading:after {
    content: ' .';
    animation: dots 1s steps(5, end) infinite;}

@keyframes dots {
    0%, 20% {
        color: rgba(0,0,0,0);
        text-shadow:
                .25em 0 0 rgba(0,0,0,0),
                .5em 0 0 rgba(0,0,0,0);}
    40% {
        color: black;
        text-shadow:
                .25em 0 0 rgba(0,0,0,0),
                .5em 0 0 rgba(0,0,0,0);}
    60% {
        text-shadow:
                .25em 0 0 black,
                .5em 0 0 rgba(0,0,0,0);}
    80%, 100% {
        text-shadow:
                .25em 0 0 black,
                .5em 0 0 black;}}